.header-container {
    height:800px;
    position:relative;
    background-image: url('../../../images/chairbg.png');
    background-size: cover;
}
.header-container::after {
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}

.btn-style{
    font-weight: 600;
    background: rgb(0,123,255);
    background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(28,199,193,1) 90%);
    color: #fff;
    border: 0px;
    padding:10px;

}

